
<h1>Vagas</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td class="<%=vaga.ocupada ? 'red' : 'green'%>"><%=link_to vaga.descricao, vaga_reservar_path(vaga), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova vaga', new_vaga_path %> |
<%= link_to 'Listagem de vagas', vagas_path %> |
<%= link_to 'reservar', reservar_path, method: :post %>
