
<h1>Vagas</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td style="background-color:<%=vaga.ocupada ? 'red' : 'green'%>"><%= vaga.descricao %></td>
        <td><%= link_to (vaga.ocupada ? 'Desocupar' : 'Reservar'), vaga_reservar_path(vaga), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova vaga', new_vaga_path %> |
<%= link_to 'Listagem de vagas', vagas_path %>
