<h1>Vaga</h1>
<p>
  <b>Descrição:</b> <%= @vaga.descricao %>
</p>
<p>
  <b>Ocupada:</b> <%= @vaga.ocupada ? 'Sim' : 'Não' %>
</p>

<%= link_to 'Editar', edit_vaga_path(@vaga) %> |
<td><%= link_to 'Deletar', @vaga, method: :delete, data: { confirm: 'Tem certeza?' } %></td> |
<%= link_to 'Lista de vagas', vagas_path %>
